.application {
    /* padding: 100px 0; */
    padding: 6.94vw 0;
}

.categories-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    /* gap: 15px; */
    gap: 1.04vw;
}

.categories-btns .btn {
    /* padding: 15px 30px; */
    padding: 1.04vw 2.08vw;
    font-family: var(--audiowide);
    /* font-size: 14px; */
    font-size: 0.97vw;
    font-weight: 400;
    /* line-height: 17.85px; */
    line-height: 1.24vw;
    /* letter-spacing: 0.01em; 0.01 * 18 = 0.18px */
    letter-spacing: 0.1vw;
    background: var(--bg-secondary);
    color: var(--main-color);
}

.categories-btns .btn:hover, 
.categories-btns .btn.active {
    background: var(--main-color);
    color: #000;
}





.application-container {
    /* margin-top: 50px; */
    margin-top: 3.47vw;
}

.application-content {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    /* gap: 30px; */
    gap: 2.08vw;
    align-items: center;
}

.application-content .img {
    width: 100%;
}

.application-content .img > span {
    width: 100%;
}

.application-content .img img {
    width: 100%;
}

.application-content .application-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.application-content .application-box .box-title {
    /* margin-bottom: 15px; */
    margin-bottom: 1.04vw;
    font-family: var(--lato);
    /* font-size: 24px; */
    font-size: 1.66vw;
    font-weight: 400;
    /* line-height: 25px; */
    line-height: 1.74vw;
    text-align: left;
    color: var(--text-color);
}

.application-content .application-box .box-text {
    font-family: var(--lato);
    /* font-size: 16px; */
    font-size: 1.1vw;
    font-weight: 400;
    /* line-height: 25px; */
    line-height: 1.74vw;
    text-align: left;
    color: var(--text-color);
}

.application-content .application-box .text2-1 {
    /* margin-top: 50px; */
    margin-top: 3.47vw;
}


@media screen and (max-width: 430px) {
    .application {
        padding: 11.62vw 0 0;
    }

    .categories-btns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5.81vw;
    }

    .categories-btns .btn {
        padding: 3vw 1.16vw;
        font-size: 2.32vw;
        line-height: 4.15vw;
        letter-spacing: 0.4vw;
    }

    .application-container {
        margin-top: 11.62vw;
    }

    .application-content {
        grid-template-columns: repeat(2, 1fr);
        /* gap: 30px; */
        gap: 11.62vw 6.97vw;
    }

    .application-content .application-box {
        order: 1;
        grid-column: auto / span 2;
    }

    .application-content .application-box .box-title {
        margin-bottom: 3.49vw;
        font-size: 4.65vw;
        line-height: 5.81vw;
    }

    .application-content .application-box .box-text {
        font-size: 3.72vw;
        line-height: 5.81vw;
    }

    .application-content .application-box .text2-1 {
        margin-top: 11.62vw;
    }
}