.download {
    /* padding: 50px 0; */
    padding: 3.47vw 0;
    position: relative;
}

.download-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--main-color);
    /* border-radius: 40px; */
    border-radius: 2.7vw;
}

.download-info {
    width: 100%;
    /* padding: 100px 0 160px 76px; */
    padding: 6.94vw 0 11.11vw 5.27vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.download-info .title {
    color: #000000;
}

.download-info .subtitle {
    /* margin-top: 30px; */
    margin-top: 2.08vw;
    color: #000000;
}

.download-info .download-btns {
    /* margin-top: 35px; */
    margin-top: 2.43vw;
    display: flex;
    align-items: center;
    /* gap: 50px; */
    gap: 3.47vw;
}

.download-info .download-btns a {
    background: #000000;
}

.download-info .download-btns a:hover {
    background: var(--text-color);
}

.download-info .download-btns a img {
    filter: invert(1);
}

.download-info .download-btns a:hover img {
    filter: invert(0);
}

.download-info .download-btns .link-info span {
    color: var(--text-color);
}

.download-info .download-btns a:hover .link-info span {
    color: #000000;
}

.download-img {
    width: 100%;
    position: relative;
}

.download-img > span {
    width: 110%;
    position: absolute;
    /* top: -120px; */
    top: -8.33vw;
    /* right: -60px; */
    right: -4.16vw;
}

.download-img > span img {
    width: 100%;
}

.download .shadow-1 {
    top: -40%;  
    right: -20%;
}

.download .shadow-2 {
    bottom: -20%;  
    left: -30%;
}

@media screen and (max-width: 430px) {
    .download {
        /* padding: 50px 0; */
        padding: 11.62vw 0;
    }

    .download-container {
        margin-top: 23.25vw;
        grid-template-columns: 1fr;
        /* border-radius: 20px; */
        border-radius: 4.65vw;
    }

    .download-img {
        order: -1;
    }

    .download-img > span {
        width: 100%;
        height: auto;
        aspect-ratio: 4 / 3;
        position: static;
        position: relative;
        left: 0;
        top: 0;
    }

    .download-img > span img {
        width: 130%;
        object-fit: cover;
        position: absolute;
        left: -20%;
        transform: translateY(-30%);
    }

    .download-info {
        width: 100%;
        /* padding: 30px; */
        padding: 6.97vw;
    }

    .download-info .title {
        width: 100%;
        font-size: 4.8vw;
    }

    .download-info .subtitle {
        /* margin-top: 30px; */
        margin-top: 6.97vw;
    }

    .download-info .download-btns {
        width: 100%;
        /* margin-top: 30px; */
        margin-top: 6.97vw;
        align-items: stretch;
        flex-direction: column;
        /* gap: 20px; */
        gap: 4.65vw;
    }
}