.mainSection {
    /* padding-top: 180px; */
    padding-top: 12.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mainSection .main-title {
    font-family: var(--lato);
    /* font-size: 48px; */
    font-size: 3.33vw;
    font-weight: 900;
    /* line-height: 57.6px; */
    line-height: 4vw;
    text-align: center;
    color: var(--text-color);
}

.mainSection .main-title > span {
    color: var(--main-color);
}

.mainSection .subtitle {
    text-align: center;
    /* margin-top: 20px; */
    margin-top: 1.38vw;
    width: 60%;
}

.mainSection .mainSection-btns {
    /* margin-top: 30px; */
    margin-top: 2.08vw;
    display: flex;
    align-items: center;
    /* gap: 50px; */
    gap: 3.47vw;
}

.mainSection .mainSection-img {
    /* margin-top: 50px; */
    margin-top: 3.47vw;
    width: 60%;
}

.mainSection .mainSection-img span {
    width: 100%;
}

.mainSection .mainSection-img img {
    width: 100%;
}

.mainSection .shadow-1 {
    top: 6%;
    left: -30%;
}

.shadow-3 {
    bottom: -15%;
    right: -20%;
}



@media screen and (max-width: 430px) {
    .mainSection {
        padding-top: 23.25vw;
    }
    .mainSection .main-title {
        /* font-size: 32px; */
        font-size: 7vw;
        /* line-height: 38.4px; */
        line-height: 8.93vw;
    }

    .mainSection .subtitle {
        /* margin-top: 20px; */
        margin-top: 4.65vw;
        width: 100%;
    }

    .mainSection .mainSection-btns {
        width: 100%;
        /* margin-top: 30px; */
        margin-top: 6.97vw;
        flex-direction: column;
        /* gap: 30px; */
        gap: 6.97vw;
    }

    .mainSection .mainSection-img {
        /* margin-top: 50px; */
        margin-top: 11.62vw;
        width: 100%;
    }

}