.cookieInfo {
    /* padding-top: 180px; */
    padding-top: 12.5vw;
    /* padding-bottom: 50px; */
    padding-bottom: 3.47vw;
    position: relative;
}

.cookieInfo-title {
    font-family: var(--inter);
    /* font-size: 32px; */
    font-size: 2.2vw;
    font-weight: 600;
    /* line-height: 30px; */
    line-height: 2.08vw;
    text-align: left;
    color: var(--text-color);
}

.cookieInfo-update {
    /* margin-top: 10px; */
    margin-top: 0.7vw;
    font-family: var(--inter);
    /* font-size: 16px; */
    font-size: 1.1vw;
    font-weight: 400;
    /* line-height: 30px; */
    line-height: 2.08vw;
    text-align: left;
    color: var(--text-color);
    opacity: 0.9;
}

.cookie-info__title {
    width: 80%;
    font-family: var(--inter);
    /* font-size: 16px; */
    font-size: 1.1vw;
    font-weight: 600;
    /* line-height: 30px; */
    line-height: 2.08vw;
    text-align: left;
    color: var(--text-color);
}

.cookie-info__desc,
.cookie-info__list-item,
.cookie-info__title span {
    font-family: var(--inter);
    /* font-size: 16px; */
    font-size: 1.1vw;
    font-weight: 400;
    /* line-height: 30px; */
    line-height: 2.08vw;
    text-align: left;
    color: var(--text-color);
    opacity: 0.9;
}

.cookie-info__desc,
.cookie-info__list-item {
    width: 80%;
}

.cookieInfo .mt-4 {
    /* margin-top: 40px; */
    margin-top: 2.7vw;
}


.cookieInfo .shadow-1 {
    top: 5%;
    left: -40%;
}

.cookieInfo .shadow-2 {
    bottom: -20%;
    right: -40%;
}