header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 7.5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 6px;
}

header .logo span {
    font-family: var(--lato);
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: var(--main-color);
}

header .navbar {
    display: flex;
    align-items: center;
    gap: 50px;
}

header .navbar li a {
    font-family: var(--lato);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color);
    transition: all 0.3s ease;
}

header .navbar li a:hover {
    color: var(--main-color);
}