.footer-container {
    width: 100%;
    /* padding: 50px 0; */
    padding: 3.47vw 0;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.footer-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-left .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 20px; */
    gap: 1.38vw;
}

.footer-left .footer-logo a {
    display: flex;
    align-items: center;
    /* gap: 6px; */
    gap: 0.41vw;
}

.footer-left .footer-logo a img {
    /* width: 46px; */
    width: 3.19vw;
}

.footer-left .footer-logo a span {
    font-family: var(--lato);
    /* font-size: 24px; */
    font-size: 1.66vw;
    font-weight: 700;
    /* line-height: 28.8px; */
    line-height: 2vw;
    color: var(--main-color);
}

.footer-left .footer-logo p {
    font-family: var(--lato);
    /* font-size: 20px; */
    font-size: 1.38vw;
    font-weight: 400;
    /* line-height: 24px; */
    line-height: 1.66vw;
    text-align: left;
    color: var(--text-color);
}

.footer-left .footer-logo p span {
    color: var(--main-color);
}

.footer-left .footer-navbar {
    display: flex;
    align-items: center;
    /* gap: 50px; */
    gap: 3.47vw;
}

.footer-left .footer-navbar li a {
    font-family: var(--lato);
    /* font-size: 20px; */
    font-size: 1.38vw;
    font-weight: 400;
    /* line-height: 24px; */
    line-height: 1.66vw;
    transition: all 0.3s ease;
    color: var(--text-color);
}

.footer-left .footer-navbar li a:hover {
    color: var(--main-color);
}

.footer-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    gap: 2.08vw;
}

.footer-right > p {
    font-family: var(--lato);
    /* font-size: 20px; */
    font-size: 1.38vw;
    font-weight: 400;
    /* line-height: 24px; */
    line-height: 1.66vw;
    text-align: left;
    color: var(--text-color);
}

.footer-bottom {
    /* padding: 50px 0; */
    padding: 3.47vw 0;
    /* border-top: 1px solid #BBF246; */
    border-top: 0.07vw solid #BBF246;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom .copyright {
    font-family: var(--lato);
    /* font-size: 16px; */
    font-size: 1.1vw;
    font-weight: 400;
    /* line-height: 19.2px; */
    line-height: 1.33vw;
    text-align: center;
    color: var(--main-color);
}

.footer-bottom .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 15px; */
    gap: 1.04vw;
}

.footer-bottom .center a {
    font-family: var(--lato);
    /* font-size: 16px; */
    font-size: 1.1vw;
    font-weight: 400;
    /* line-height: 19.2px; */
    line-height: 1.33vw;
    text-align: center;
    color: var(--text-color)  
}

.footer-bottom .social-network {
    display: flex;
    align-items: center;
    /* gap: 30px; */
    gap: 2.08vw;
}

.footer-bottom .social-network li a img {
    /* width: 30px; */
    width: 2.08vw;
}